In [1]:
ic = {'yuki':123,'nino':617}
print(ic['nino'])
ic['nino']=1222
print(ic)

617
{'yuki': 123, 'nino': 1222}

In [2]:
import pandas as pd

In [4]:
data = pd.read_csv('data/episode04968/task.log',header=None,names=['step','agID','h','w'])
data.head()

   step  agID   h   w
0     0    -1   8  13
1     0    -1  14  18
2     0    -1  13   2
3     0    -1  13  11
4     0    -1  10   5

In [12]:
x = 18
y = 20
k = data.loc[(data['w']==x)&(data['h']==y)]
print(k)

Empty DataFrame
Columns: [step, agID, h, w]
Index: []

In [7]:
y = 20
if y in data.loc[data['w']==x,'h'].values:
    print('yesss')
else:
    print('noooo')

noooo

In [14]:
if not k.empty:
    print('not empty')
else:
    print('empty')

empty

In [1]:
import num2words

In [2]:
num2words.num2words(123)

'one hundred and twenty-three'